ElectionVenv
venv
.venv
data/*
logs/*
output/*
notebooks/*
test-.*
.env
__pycache__
*/__pycache__/
logs/*
!logs/.gitkeep
!input/.gitkeep
!data/cleaned_excel/.gitkeep
!data/intermediate_tables/.gitkeep
!data/name_mappings/.gitkeep
!data/PDFs/.gitkeep
output/*
!output/.gitkeep
!output/strong_and_swing_booth/.gitkeep
